#root {
  width: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
}

.shimmer-text {
  background: linear-gradient(90deg, #f472b6 30%, #60a5fa 70%);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: shimmer 4s infinite linear;
}

@keyframes shimmer {
  0% { background-position: -500px 0; }
  100% { background-position: 500px 0; }
}